.task-card {
    box-shadow: 3px 3px 8px black;
    border-radius: 10px;
    padding: 10px;
    margin: 40px;
    font-size: 20px;
    background-color: rgb(175, 11, 134, .1);
    display: inline-block;
    width: 95%;
    height: 30px;
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    cursor: pointer;
    user-select: none;
    position: relative;
    text-align: left;


}

.task-card:hover {
    transform: scale(1.02);
}

.complete-task {
    font-weight: bold;
    font-size: 18px;
    border: 2px solid black;
    /* border-radius: 50%; */
    position: absolute;
    right: 150px;
    top: 10px;
    display: inline-block;
    width: 100px;
    height: 25px;
    text-align: center;
    background-color: black;
    color: white;
    box-shadow: 3px 3px 8px rgb(227, 153, 207);
}

.delete-task {
    font-weight: bold;
    font-size: 18px;
    border: 2px solid black;
    /* border-radius: 50%; */
    position: absolute;
    right: 30px;
    top: 10px;
    display: inline-block;
    width: 100px;
    height: 25px;
    text-align: center;
    background-color: black;
    color: white;
    box-shadow: 3px 3px 8px rgb(227, 153, 207);
}

.delete-task:hover, .complete-task:hover {
    background-color: lightgrey;
}