.App {
  text-align: center;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}



.App {
  max-width: 100vh;
  margin: 2rem auto;
  padding: 2rem;
  background: repeating-linear-gradient(white,
      white 29px,
      #d3e0ea 30px);
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: 'Georgia', serif;
  position: relative;
  line-height: 30px;
}

/* Red left margin line */
.App::before {
  content: '';
  position: absolute;
  top: 0;
  left: 60px;
  bottom: 0;
  width: 2px;
  background-color: #ff4b5c;
}

/* Optional: give it a textured look */
body {

  background-color: black;
}